
  <div class="job-description">
    <h1>ActionDesk cherche un co-fondateur et CTO</h1>
    <p>ActionDesk (actiondesk.io) a pour ambition d'être la première solution de Big Data qui est action driven. En se basant sur le suivi d’indicateurs clés et en étudiant les tendances de façon automatique, ActionDesk recommandera aux preneurs de décisions des actions précises afin d'améliorer le business de l’entreprise cliente.
    </p>
    <p>
    Aujourd’hui, la totalité des solutions de business analytics (de Excel à Tableau en passant par Qlikview), se contentent de reporter des chiffres et de les montrer de façon plus ou moins visuelle.
    </p>
    <p>
    Pour transformer ces chiffres en valeur ajoutée, un humain doit les regarder et les analyser de la bonne manière. La plupart des entreprises n’ont pas les ressources et compétences techniques et business pour analyser les chiffres et les transformer en actions décisives pour le business.
    </p>
    ActionDesk se propose d’automatiser:
    </p>
    <ul>
      <li>Le repérage de problèmes business</li>
      <li>L’analyse de la racine du problème</li>
      <li>La recommandation des actions à mener pour résoudre le problème.</li>
    </ul>
    <p>ActionDesk attaque donc le marché des Big Data qui pèsera plus de 200 milliards en 2020 avec une proposition de valeur unique. <a target="_blank" href="https://www.forbes.com/sites/gilpress/2017/01/20/6-predictions-for-the-203-billion-big-data-analytics-market/#3cb229f92083">Source</a>
    </p>

    <p>
    À l’initiative d’ActionDesk, je recherche un cofondateur avec pour l’objectif de construire un géant sur le marché du Big Data.
    Mon Background:</p>
    <ul>
      <li>Ecole de commerce (Neoma Business School)</li>
      <li>Banque d’investissement (Société Générale), Conseil (Eleven), Retail (Groupe Casino)</li>
      <li>Jumia / Rocket Internet pendant trois en tant que Chief Commercial Officer puis Managing Director</li>
      <li>Fondateur de mouseless.teachable.com</li>
      <li>Ruby on Rails developer et alumni Le Wagon</li>
    </ul>

    ActionDesk étant complètement early stage, je recherche:
    <ul>
    <li>Un entrepreneur</li>
    <ul>
      <li>Tu es prêt à bosser comme un dingue et ne pas avoir de salaire / salaire très bas pendant un moment</li>
      <li>Tu as l’envie de monter the next big thing</li>
      <li>Tu es prêt à t'investir sur le long terme</li>
      <li>Tu ne veux pas être un exécutant technique mais veut être le co-leader de ta startup, et co-leader la vision, la stratégie, les choix de culture, de management, etc</li>
    </ul>
    <li>Un leader technique</li>
      <ul>
        <li>L'école dont tu viens ou l’entreprise où tu as travaillé n’importe que très peu</li>
        <li>Peu importe ton stack, mais tu apprends plus vite que ton ombre, tu es capable de monter en compétence sur une technologie rapidement.</li>
        <li>Idéalement, tu as fait ou tu t’es formé(e) sur du machine learning.</li>
        <li>Tu aimes les chiffres et penses qu’ils sont une des meilleures façons de représenter la réalité que les humains ont trouvé.</li>
        <li>Plus spécifiquement, tu es convaincu(e) de l’immense valeur des chiffres pour piloter une entreprise.</li>
      </ul>
    <li>Une personne qui partage la vision, la culture d’entreprise et les valeurs suivantes:</li>
      <ul>
        <li>No ego</li>
      <ul>
        <li>Audace et agressivité (positive): On a peur de rien et surtout pas du regard des autres.</li>
        <li>Si notre produit est mauvais, on prend les feedback et on les incorpore. On ne le prend pas personnellement</li>
        <li>Pas de politique</li>
      </ul>
    <li>Ambition et détermination pragmatique</li>
      <ul>
        <li>On veut changer le monde mais on est toujours connecté à la réalité</li>
        <li>Nous sommes déterminés mais savons reconnaître quand nous sommes dans un cul-de-sac</li>
      </ul>
    <li>Liberté d’action</li>
      <ul>
        <li>On recrute les meilleurs et on les laisse faire</li>
        <li>On s’assure que toute structure ajoutée est nécessaire et productive</li>
      </ul>
    <li>Focus et efficacité</li>
      <ul>
        <li>On maximise notre productivité et on s’assure que toutes nos actions nous rapprochent de notre objectif final.</li>
        <li>On est concentré sur le long terme, il ne s’agit pas de burn out après 1 an.</li>
        User driven</li>
      </ul>
      <ul>
        <li>On construit un produit et un business pour résoudre des problèmes réels d’utilisateurs, pas pour lever des fonds, ou avoir un article dans Techcrunch</li>
        <li>Si nos utilisateurs sont content, le business suivra</li>
      </ul>
    </ul>
    </ul>
    </p>
  </div>

