<% content_for(:title_tag) do %>
  Welcome
<% end %>
<!-- Transparent navbar for home -->
<% content_for(:navbar_class, "navbar-home") %>

<div class="banner" style= "background-image: linear-gradient(-225deg, rgba(0,78,55,0.3) 0%, rgba(0,36,61,0.3) 50%), url('<%= image_path('actiondeskhomepage') %>')">

  <div class="banner-content" id="home-banner">
    <h1>ActionDesk</h1>
    <h3>Make your data actionable</h3>
    <%= link_to "Start your free trial", new_lead_path, class: 'btn btn-primary', id:"home-button"  %>
  </div>
</div>

<!-- features -->
<div class="container features text-center padded">
  <div class ="row">
    <div>
      <!-- features -->
      <div class="row">
        <!-- first feature -->
        <div class="col-xs-12 col-sm-4 col-md-4 feature-box">
          <i class="material-icons" style="font-size: 80px; color:#213458">settings_ethernet</i>
          <h2>Connect</h2>
          <p>In less than 10min and with no code, connect to your own database and your favorite apps</p>
        </div>

        <!-- second feature -->
        <div class="col-xs-12 col-sm-4 col-md-4 feature-box">
          <i class="material-icons" style="font-size: 80px; color:#213458">settings</i>
          <h2>Build</h2>
          <p>Without coding, you define business alerts linked to your data</p>
        </div>

        <!-- third feature -->
        <div class="col-xs-12 col-sm-4 col-md-4 feature-box">
            <i class="material-icons" style="font-size: 80px; color:#213458">fast_forward</i>
            <h2>Execute</h2>
            <p>Those alerts will create tickets in your favorite business app or will trigger an automatic action</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="white-background">
  <div class="container">
    <div class="row">

      </div>
    </div>
  </div>
</div> -->
