<% content_for(:title_tag) do %>
  Welcome
<% end %>
<!-- Transparent navbar for home -->
<% content_for(:navbar_class, "navbar-home") %>

<div class="banner" style= "background-image: linear-gradient(-225deg, rgba(0,78,55,0.3) 0%, rgba(0,36,61,0.3) 50%), url('<%= image_path('actiondeskhomepage') %>')">

  <div class="banner-content" id="home-banner">
    <h1>Action Driven Data Analysis</h1>
    <h3>Get the numbers to serve your business</h3>
    <%= link_to "Learn More", new_lead_path, class: 'btn btn-primary', id:"home-button"  %>
  </div>
</div>

<!-- features -->
<div class="container features text-center padded">
  <div class ="row">
    <div>
      <!-- features -->
      <div class="row">
        <!-- first feature -->
        <div class="col-xs-12 col-sm-4 col-md-4 feature-box">
          <i class="material-icons" style="font-size: 80px; color:#213458">report_problem</i>
          <h2>Understand</h2>
          <p>Our algorithms understand your business, and will notify you when something is wrong</p>
        </div>

        <!-- second feature -->
        <div class="col-xs-12 col-sm-4 col-md-4 feature-box">
          <i class="material-icons" style="font-size: 80px; color:#213458">assessment</i>
          <h2>Root cause</h2>
          <p>ActionDesk will drill down and understand the drivers of the problem</p>
        </div>

        <!-- third feature -->
        <div class="col-xs-12 col-sm-4 col-md-4 feature-box">
            <i class="material-icons" style="font-size: 80px; color:#213458">fast_forward</i>
            <h2>Action</h2>
            <p>You will receive focused and actionable recommendations on how to improve your business and solve your problems</p>
        </div>
      </div>
    </div>
  </div>
</div>
