// Your footer style
#footer {
  background: $brand-color;
  padding: 30px;
}

#footer a {
  font-size: 27px;
  color: white;
  transition: 0.3s;
  padding: 20px 20px 20px 0;
}

#footer a:hover {
  color: white;
  text-decoration: none;
}

#footer {
  color: white;
}
